<ion-header>
  <ion-toolbar>
    <!-- Default back button -->
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-circle-outline">
      </ion-back-button>  
    </ion-buttons>
    <ion-title>Mechanical</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="beproject()">
    <ion-card-header>
      <ion-card-subtitle>B.E Projects</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="meproject()">
    <ion-card-header>
      <ion-card-subtitle>M.E Projects</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="diplomaproject()">
    <ion-card-header>
      <ion-card-subtitle>Diploma Projects</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card (click)="miniproject()">
    <ion-card-header>
      <ion-card-subtitle>Mini Projects</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
